name: Terraform CD Apply to AWS

on:
    push:
        branches:
            - main
    workflow_dispatch:
        
permissions:
    contents: read
    id-token: write

jobs:
  terraform-apply:
    runs-on: ubuntu-latest

    concurrency:
      group: terraform-apply-${{ github.ref }}
      cancel-in-progress: true
    env:
      TF_VAR_postgres_db_username: ${{ secrets.TF_VAR_POSTGRES_DB_USERNAME }}
      TF_VAR_postgres_db_password: ${{ secrets.TF_VAR_POSTGRES_DB_PASSWORD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.5

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Format
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false -no-color -out=tfplan

      - name: Terraform Apply
        run: terraform apply -input=false -auto-approve tfplan
