name: Terraform CI

on:
  push:
    branches:
      - dev
  pull_request:

permissions:
  contents: read
  id-token: write

jobs:
  terraform-check:
    runs-on: ubuntu-latest

    env:
      TF_VAR_postgres_db_username: ${{ secrets.TF_VAR_POSTGRES_DB_USERNAME }}
      TF_VAR_postgres_db_password: ${{ secrets.TF_VAR_POSTGRES_DB_PASSWORD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.5

      - name: Terraform Format
        run: terraform fmt -check -recursive

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false -no-color
